body {
 	background: white; 
}

#container{
  box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
  height: 140px;
  left: 50%;
  margin: -70px 0 0 -60px;
  position: absolute;
  top: 50%;
  width: 120px;
  align-self: center;
  background-color: rgb(95, 226, 95);
}


canvas {
 display: block;
  margin: 0 auto;
}